<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SSB - {{ title }}</title>

    <!-- Custom fonts for this template-->
    <link href="{{ site_url }}/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ site_url }}/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="{{ site_url }}/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="{{ site_url }}/vendor/datatables/responsive.dataTables.min.css" rel="stylesheet">
    {% if 'volunteer_days_management' in request.url or 'volunteer_events' in request.url or '/vehicle_request' in request.url or '/outreach_contacts' in request.url or '/master_calendar' in request.url %}
        <link href="{{ site_url }}/vendor/fullcalendar/main.min.css" rel="stylesheet">
        <link href="{{ site_url }}/vendor/datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet">
    {% endif %}
    {% if 'time_tracking' in request.url or 'youth_reports' in request.url or '/presentation' in request.url %}
        <link href="{{ site_url }}/vendor/datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet">
    {% endif %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="{{ site_url }}/css/custom.css" rel="stylesheet">
    <script src="{{ site_url }}/vendor/jquery/jquery.min.js"></script>
    <script src="{{ site_url }}/js/mobile-ssb.js"></script>
</head>
{% block content %}
{% endblock %}
</html>
