<!-- templates/employment-forms.html -->
{% extends "actual_base.html" %}

{% block actual_content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification bg-success text-white" style="padding: 10px; margin: 0 0 10px 0;">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
    <div class="column is-8 is-offset-2">
        <h3 class="title">Employment Documents</h3>
        <div class="box">
            <button id="btn-add-emplmnt-doc" class="btn btn-outline-dark mt-1 pc-margin-bottom-30">Add a Employment Document</button>
            <table class="table table-borderless" id="emplmnt_doc_table">
                <thead class="thead-light">
                    <tr>
                        <th>Document Name</th>
                        <th>Preview</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for doc in employement_doc_list %}
                    <tr>
                        <td>{{ doc.doc_name}}</td>
                        <td>
                            <a href="/upload/employment_forms/{{ doc.file_name }}" target="_blank">Preview</a>
                        </td>
                        <td>
                            <a class="fa fa-edit edit-pdf-button" href="#" data-file="{{ doc.file_name }}" data-id="{{ doc.id }}" data-name="{{ doc.doc_name }}"></a>&nbsp;
                            <a class="fa fa-trash delete" href="#" data-id="{{ doc.id }}" data-name="{{ doc.doc_name }}"></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- modal -->
    <div class="modal fade" id="tableModalAddDoc" tabindex="-1" role="dialog" aria-labelledby="tableModalLabel"
         aria-hidden="true">
        <div class="modal-dialog pc-maxwidth-600" role="document">
            <div class="modal-content">
                <form action="/employee-management/employment-docs" enctype="multipart/form-data" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="tableModalLabel">KVal</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table-responsive">
                            <tr>
                                <td><label for="doc_name">Form Name:</label></td>
                                <td><input type="text" name="doc_name" id="doc_name" required value=""/>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="doc_file">Upload form:</label></td>
                                <td><input type="file" name="doc_file" id="doc_file" required></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="emplmnt_form_action" id="emplmnt_form_action" value="new"/>
                        <input type="hidden" name="id" id="id" value=""/>
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" id="btn-emplmnt-doc">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit-pdf-modal" tabindex="-1" role="dialog" aria-labelledby="tableModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" style="min-width:98%;">
            <div class="modal-content" >
               <div class="modal-body" id="pdfTron-body" style=' height: 700px;'>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- end modal -->

    <script src='{{ site_url }}/pdftron/lib/webviewer.min.js'></script>
    <script>
          function deleteDoc(id, name) {
              if (confirm("Are you sure to delete row \"" + name + "\" with ID " + id + "?")) {
                  $.ajax({
                    url: "/employee-management/employment-docs",
                    type: "post",
                    beforeSend: function (xhr, settings) {
                        console.log("Going to delete " + id);
                        $("#loadingImage").show();
                    },
                    data: {
                        emplmnt_form_action: 'delete',
                        id: id
                    },
                    success: function (response) {
                        console.log(response);
                        alert(response.message);
                    },
                    error: function (xhr) {
                        console.log('there was an error')
                        console.log(xhr);
                    },
                    complete: function (xhr, textStatus) {
                        console.log(textStatus);
                        $("#loadingImage").hide();
                        window.location = window.location.href;
                    }
                  });
              }
          }
        $(document).ready(function () {
            doc_path = '/upload/employment_forms/'
            let dt = $('#emplmnt_doc_table').DataTable(
                {
                    paging: false,
                    responsive: true,
                });
            $('#emplmnt_doc_table tbody').on('click', 'td', function (e) {
                if (e.target.classList.contains('delete')) {
                    deleteDoc(e.target.dataset.id, e.target.dataset.name);
                    return false;
                }

            });
            function addEmplmntDoc() {
                $("#doc_name").val('');
                $("#id").val('');
                $("#emplmnt_form_action").val("new");
                $("#tableModalLabel").html("Add a new Employment Document");
                $("#tableModalAddDoc").modal('show');
            }

            $(document).on('click', "#btn-add-emplmnt-doc", addEmplmntDoc);

            WebViewer({
                path: '{{ site_url }}/pdftron/lib',
                licenseKey: 'Insert commercial license key here after purchase',
            }, document.getElementById('pdfTron-body'))
            .then(instance => {

                $('.edit-pdf-button').on('click', function (argument) {
                    file_name = this.dataset.file
                    doc_id = this.dataset.id
                    doc_name = this.dataset.name
                    doc_name = doc_name.trim()
                    file_url = doc_path + file_name
                    random_ver = (""+Math.random()).substring(2,7)
                    instance.UI.loadDocument(file_url+'?v=' + random_ver);
                    documentViewer.setDocumentXFDFRetriever(async () => {
                      const response = await fetch('{{ site_url }}/upload/employment_forms/xml/'
                        + doc_name.split(' ').join('_') + '.xml' + '?v=' + random_ver
                        );
                      const xfdfString = await response.text();
                      return xfdfString;
                    });
                    $("#edit-pdf-modal").modal('show');
                });

                const {
                    documentViewer,
                    annotationManager
                } = instance.Core;
                annotPosition = 0

                const Tools = instance.Core.Tools;
                const Annotations = instance.Core.Annotations;

                instance.UI.setToolbarGroup('toolbarGroup-Forms');

                instance.UI.setHeaderItems(header => {
                    header.push({
                        type: 'actionButton',
                        img: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm-5 16c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-10H5V5h10v4z"/></svg>',
                        onClick: async () => {
                            var a = document.createElement("a");
                            const doc = documentViewer.getDocument();
                            const xfdfString = await annotationManager.exportAnnotations();
                            const data = await doc.getFileData();
                            console.log(xfdfString)
                            const arr = new Uint8Array(data);
                            const blob = new Blob([arr], {
                                type: 'application/pdf'
                            });
                            const anntXml = new Blob([xfdfString], {
                                type: 'application/xml'
                            });
                            const preparedData = new FormData();
                            preparedData.append('id', doc_id);
                            preparedData.append('emplmnt_form_action', 'edit');
                            preparedData.append('doc_name', doc_name);
                            // preparedData.append('doc_file', blob, file_name);
                            preparedData.append('is_ajax', 1);
                            preparedData.append('anntXml',
                                                 anntXml,
                                                 doc_name.split(' ').join('_') + '.xml',
                                                );

                            const req = new XMLHttpRequest();
                            req.open("POST", '/employee-management/employment-docs', true);
                            req.responseType = 'json';
                            req.onload = function (oEvent) {
                              if (oEvent.target.status == 200) {
                                $("#edit-pdf-modal").modal('hide');
                              } else {
                                alert('Error: ' +oEvent.target.response.message)
                              }
                            };

                            req.send(preparedData);
                        }
                    });
                });

                documentViewer.addEventListener('documentLoaded', () => {
                    // call methods relating to the loaded document
                });
            });
        });
    </script>
{% endblock %}
